@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&display=swap');

:root {
    --primary-color: #1E96FC;
    --secondary-color: #011627;
    --accent1-color: #A5978B;
    --accent2-color: #4F5D2F;
  
    --heading-font: 'Playfair', serif;
    --paragraph-font: 'PT', serif;
  
    --nav-background-color: #A5978B;
    --nav-link-color: #A5978B;
    --nav-hover-link-color: #4F5D2F;
    --nav-hover-background-color: #011627;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  p {
        font-family: var(--paragraph-font);
        color: var(--secondary-color);
  }

  h2 {
	text-align: center;
}

header {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    text-align: right;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  


.logo {
  grid-column: 1 / 2;
  margin-right: 100px;
}

main {
    max-width: 1200px;
	margin: 2rem auto;
}

.herodiv {
    position: relative;
    width: 100%;
    height: 500px; 
  }
  
  .herodiv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .herodiv h1 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 48px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .herodiv article {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
  
  .herodiv article p {
    color: #fff;
    position: relative;
    padding-right: 150px;
    background-color: rgba(30, 144, 255, 0.5);
    text-align: center;
    margin-right: 20px;
    max-width: 80%;
    margin: 0 auto;
  }
   
  .article-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    max-width: 50%; 
    max-height: 70%; 
    object-fit: contain;
  }  

  .adventures {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
  }
  
  figcaption {
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }

.social-icons a img {
  width: 40px;
  height: 40px;
}
  
  .social-icons a:first-child {
    margin-left: 0;
  }

  .social-icons p {
    margin-right: 500px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  #grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f7f7f7;
  padding: 20px;
}

.grid-item-big {
  grid-column: 1 / span 2;
}

#newsletter form input,
#newsletter form button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
